name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  get-version:
    runs-on: 'ubuntu-latest'
    outputs:
      version: ${{ steps.get.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - id: get
        run: |
          sudo apt-get install -y jq
          cd core
          version=$(jq -r '.version' package.json)
          echo "version=$version" >> $GITHUB_OUTPUT

  build:
    needs: get-version
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
            file: './src-tauri/target/release/bundle/dmg/MoeKoe Music_${{ needs.get-version.outputs.version }}_aarch64.dmg'
          - platform: 'macos-latest' # for Intel based macs.
            args: '--target x86_64-apple-darwin'
            file: './src-tauri/target/release/bundle/dmg/MoeKoe Music_${{ needs.get-version.outputs.version }}_amd64.dmg'
          - platform: 'ubuntu-22.04' # for Tauri v1 you could replace this with ubuntu-20.04.
            args: ''
            file: './src-tauri/target/release/bundle'
          - platform: 'windows-latest'
            args: ''
            file: './src-tauri/target/release/app.exe'

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: pnpm/action-setup@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
        # webkitgtk 4.0 is for Tauri v1 - webkitgtk 4.1 is for Tauri v2.
        # You can remove the one that doesn't apply to your app to speed up the workflow a bit.

      - name: install and build
        run: |
          pnpm install
          pnpm app:build ${{ matrix.args }}

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}${{ contains(matrix.args, 'aarch64') && '_aarch64' || '' }}
          path: ${{ matrix.file }}
